/* Game Board */

h1 {
    text-align: center
}

h2 {
    text-align: center;
}

#playerTurn {
    background-color: lightgrey;
    height: 100px;
    margin: auto;
    width: 200px;
}

#top {
    display: flex;
    width: 90vw;

}

#middle {
    display: flex;
    width: 90vw;

}

#bottom {
    display: flex;
    width: 90vw;

}

#cellone {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#celltwo {
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}

#cellthree {
    border-bottom: 1px solid black;
}

#cellfour {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#cellfive {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#cellsix {
    border-bottom: 1px solid black;
}

#cellseven {
    border-right: 1px solid black;
}

#celleight {
    border-right: 1px solid black;
}

#buttonContainer {
    
    margin-left: 40%;
    margin-right: 45%;
    padding: 10px;
    width: 30%;
}

#start {
    cursor: pointer;

}

#start:hover {
    background-color: rgb(134, 134, 240);
}

#computerPlayer {
    cursor: pointer;
}

#computerPLayer:hover {
    background-color: rgb(134, 134, 240);
    ;
}

.cell {
    align-items: center;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: fantasy;
    font-size: 60px;
    height: 20vh;
    justify-content: center;
    min-width: 30vw;
}

.cell:hover {
    background-color: red;
}